body {
margin: auto;
background: url(fone.png) repeat;
font-family:Verdana;
}

A:link { text-decoration: none; }
A:visited { text-decoration: none; }
A:active { text-decoration: none; }
A:hover { 
 text-decoration: underline; 
 color: black;
}

/*------------------HEADER---------------*/	
.header:{
    background-color: white;
	width:100%;
}

.header_container {
	border-top: 5px solid rgba(0, 0, 0, .1);
	border-bottom: 5px solid rgba(0, 0, 0, .1);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width:100%;
	background-color: white;
}
#logo{
	margin-left: 16%;
	height:80px;
	width: 80px;
	padding: 10px;
}
.header_sitename{
	padding:10px;
}
.header_sitename h1{
	font-style: italic;
	font-weight: 530;
}


/*-----------NAV-----------*/

.nav {
    background-color: white;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color:white;
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin:auto;
	
}
.nav a {
	display: block;
}
.nav_link:hover {
	background-color: #D8BFD8;
	border-top: none; 
	border-bottom: none; 
	border-radius: 30px/90px;
	margin: 4px;
	padding: 10px;
	font-style: normal;
	font-weight: 450;
	font-size: 20px;
}
.nav_link {
	background-color: rgba(0, 0, 0, .1);
	border-radius: 10px/20px;
	margin: 4px;
	padding:9px;
	font-style: normal;
	font-weight: 450;
	font-size: 20px;
}
.nav_link a{
	font-family:Verdana;
	font-style: normal;
	font-weight: 450;
	font-size: 18px;
}

Tr:nth-last-child(odd){
	background-color: #40E0D0;
}



/*---------------------CONTENT------------*/
.content{
    background-color: white;
	display: flex;
	flex-direction: column;
	background-color: white;
	margin:auto;
	margin-top: 20px;
}
.content_links {
	order: 1;
	padding-top: 10px;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	overflow: auto;
}
.content_links p{
	font-style: normal;
	font-weight: 400;
	margin: 5px;
	padding: 5px;
	font-size: 15px;
}
.content_table {
	order: 3;
	margin-top: 50px;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	overflow: auto;
}
.content_table p{
	font-style: normal;
	font-weight: 400;
	margin: 5px;
	padding: 0;
	font-size: 15px;
}
.content_form {
	order : 2;
	margin-top: 50px;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	overflow: auto;
}
.content_form p{
	font-style: normal;
	font-weight: 400;
	margin: 5px;
	padding: 0;
	font-size: 15px;
}



.footer{
	display:flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px;
	background-color:white;
	border-top: 5px solid rgba(0, 0, 0, .1);
}


@media (min-width: 1100px) {
 .nav {
	flex-direction: row;
	justify-content: space-evenly;
	width:1060px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	}
.content{
	width:960px;
}
	.content_form {
		order: 3;
	}
	.content_table {
		order: 2;
	}	

}
@media (min-width: 800px) and (max-width: 1100px) {
	.content_form {
		order: 3;
	}
	.content_table {
	    flex : 1;
		order: 2;
	}
	.nav
	{
	flex-direction: row;
	justify-content: space-evenly;
	width:960px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 100px;
	}
	.content{
	width:960px;
}
}